export WEBHOOK_URL="企业微信机器人Webhook"
export OTRS_URL="https://otrs.mydomain.de/otrs/index.pl?Action=AgentTicketZoom;TicketID="

export MYSQL_HOST="localhost"
export MYSQL_PORT="3306"
export MYSQL_USER="otrs-read-only"
export MYSQL_PASS="secret"
export MYSQL_DB="otrs"
